<% include ./partials/header %>
<div class="bodypage2"> 
    <div class="row" style="margin-top: 0;">
    <div class="col-sm-12" style="padding: 0;">
    <div class="jumbotron animated fadeInDown" id="aboutpage">
  <h1 class="display-4 font-weight-normal" style="color:#c7bdbd"> ABOUT US </h1>
        <p class="lead font-weight-light">"We rise by lifting others"</p>
    </div>
  </div>
</div>
        <div class="row">
        <div class="col-lg-6">
          <div class="card animated fadeInLeft" id="card1r">
            <div class="card-body">
              <h3 class="card-title" >WHAT WE DO</h3>
              <p class="card-text">'Charity For Humanity' is an efficient non-profit organization that meets the needs of struggling individuals and families around India. This organization was founded to eliminate the duplication of assistance to those in need and is not for the client who receives all the government subsidies and is not trying to change that, it is for the person falling through the cracks of our system.</p>
              <p>We are currently working to remove various barriers for:<ul><li>Right to education for children</li><li>Providing clean drinking water for everyone</li><li>Heping empower women</li></ul></p>
              <p>Charity For Humanity is stabilizing the community and will continue to do so using its hand up, not hand out, philosophy. We are there for giving hope and changing lives all this is done with unparalleled levels of energy, efficiency, and reliability.</p>
        </div>
        </div>
        </div>
        <div class="col-lg-6">
          <div class="card animated fadeInRight" id="card2w">
            <div class="card-body">
              <h3 class="card-title">WHO WE ARE</h3>
              <p class="card-text"><ul><li><h5>OUR HISTORY</h5><p>Students of Shri Mata Vaishno Devi University(SMVDU) gathered to discuss how the needs of the society were being met. There was concern for the need to prevent the duplication of assistance and better serve needs in the community which led to the formation of Charity For Humanity.</p></li><li><h5>TEAM MEMBERS</h5></li></ul></p>
              <img class="circular--square" src="/images/photo-1496449903678-68ddcb189a24.jfif" />
              <img class="circular--square" src="/images/IMG_20180628_144359.jpg" />
              <img class="circular--square" src="/images/photo-1496449903678-68ddcb189a24.jfif" />
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="ndfc">
          <div class="needfc"><h3 style="padding-left: 35%">Need For Charity</h3>
          <div class="Textit" style="padding-bottom: 30px">There are tons of reasons why giving is important. To shed some light on the need watch the short video below:</div>
          <iframe width="100%" height="400px" src="https://www.youtube.com/embed/bfAzi6D5FpM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>
        </div>
      <div class="container">
          <div class="path">
            <h3>PATH AHEAD</h3>
            <p>Even though some initial success towards fulfilling our mission objectives has been achieved but still a lot much has to be done and thus Charity For Humanity aims to accomplish the goals ahead in the near future which are :<ul><li>To remove the economic barriers that mothers face who are seeking post-secondary education; we will assist them with the costs of childcare, transportation, education, and emergency events. </li>
              <p><li>To invest in the development of our clients’ children. In addition to partnering with quality childcare agencies, we will provide assistance so that kids may engage in extracurricular activities. Parents in our program may receive assistance in providing school supplies and other necessities for their children. Through our efforts to support child development, we hope to break the cycle of generational poverty.</li></p>
              <p><li>To generate employment for beggers by hiring them for jobs like garbage collection, to be done with government support. This would also serve to maintain their self-esteem and they won't be dependent on anyone for anything.</li></p></ul></p>
         </div> 
    </div>
</div>
</div>
</div>
<% include ./partials/footer %>