<% include ./partials/header %>
<div class="row"> 
    <div style="width: 30%; margin: 25px auto;">
        <h2 style="text-align: center">Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <p> <a href="/forgot">Forgot password</a></p>
        <p>Don't have an account <a href="/register">Sign Up</a></p>
        <a href="/charities"> Go back</a>   
    </div>
</div>
<% include ./partials/footer %>